flask==1.1.2
pytest==5.4.3
flask-swagger==0.2.14
flask_swagger_ui==3.36.0
pylint==2.9.0.dev1
WTForms==2.3.3
pika==1.1.0
pyotp==2.6.0
flask_wtf==0.14.3
email-validator==1.1.2
cryptography==3.1.1
Flask-Cors==3.0.10
alembic==1.6.2
WTForms-JSON==0.3.3
requests==2.25.1
coverage==5.5
pytest-cov==2.12.1

PyMySQL==1.0.2
SQLAlchemy==1.4.11
SQLAlchemy-Utils==0.37.0